.custom-card {
    padding: 0.5em;
    margin-bottom: 1.5em;
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    max-width: 60vw;
    background-color: var(--card-background);
}

/* 添加图片控制 */
.custom-card .article-content img {
    max-width: 100%;  /* 确保图片不会超出卡片宽度 */
    height: auto;     /* 保持图片比例 */
    display: block;   /* 块级显示 */
    margin: 1em auto; /* 上下间距和居中 */
    border-radius: var(--tag-border-radius); /* 使用主题的圆角变量 */
}

.custom-card .article-content a {
    text-decoration: none;  /* 移除链接下划线 */
    cursor: default;        /* 移除鼠标手型指针 */
    pointer-events: none;   /* 禁用点击事件 */
}

@media (max-width: 1200px) {
    .custom-card {
        max-width: 70vw;
        /* 中屏幕上最大宽度为视口宽度的70% */
    }
}

@media (max-width: 992px) {
    .custom-card {
        max-width: 80vw;
        /* 小屏幕上最大宽度为视口宽度的80% */
    }
}

@media (max-width: 768px) {
    .custom-card {
        max-width: 90vw;
        /* 超小屏幕上最大宽度为视口宽度的90% */
    }
}

.custom-card .article-meta {
    font-size: 0.85em;
    color: var(--card-text-color-tertiary);  /* 使用主题的第三级文字颜色 */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: right;
    /* 确保日期在右侧 */
}

.custom-card .article-content {
    padding-top: 0.5em;
    font-size: 1em;
    color: var(--card-text-color-main);  /* 使用主题的主要文字颜色 */
    text-align: justify;
}